.contact {
  min-height: 750px;
  background-color: $primary-white;
  padding-top: 98px;
  margin-left: -9px;
}
.contact__wrapper {
  display: flex;
  justify-content: space-between;
}
.content__container {
  width: 534px;
  .content__pretitle {
    font-family: "Bw Modelica SS01", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 2em;
    color: $text-blue;
    margin-bottom: 9px;
  }
  .content__title {
    font-family: "Blacker Display", sans-serif;
    font-size: 48px;
    line-height: 1.33em;
    color: $text-blue;
    margin-bottom: 30px;
  }
  .content__text {
    font-family: "Bw Modelica SS01", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    color: $text-blue;
    margin-bottom: 32px;
  }
  .content__info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    a:link,
    a:visited {
      font-family: "Bw Modelica SS01", sans-serif;
      font-weight: 600;
      font-size: 16px;
      line-height: 1.5em;
      color: $text-blue;
      background-image: linear-gradient(
        to right,
        $text-blue 50%,
        $accent-blue 50%
      );
      background-size: 200% 100%;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: background-position 0.5s;
    }
    a:hover {
      background-position: -100% 0;
    }
    .info__address {
      display: flex;
      gap: 24px;
      .address__logo {
        width: 32px;
        height: 32px;
      }
    }
    .info__phone {
      display: flex;
      align-items: center;
      gap: 24px;
    }
    .info__email {
      display: flex;
      align-items: center;
      gap: 24px;
    }
  }
}
.form__container {
  margin-right: -24px;
  form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    input,
    textarea {
      width: 424px;
      height: 56px;
      border: 1px solid $input-border;
      border-radius: 4px;
      padding: 16px 20px;
    }
    input::placeholder,
    textarea::placeholder {
      font-family: "Bw Modelica SS01", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5em;
      color: $input-border;
    }
    textarea {
      height: 224px;
      resize: none;
      margin-bottom: 15px;
    }
    button {
      padding: 16px 40px;
      width: 139px;
    }
  }
}
