.header {
  height: 86px;
  background-color: $primary-blue;
  top: -86px;
  transition: top 0.3s ease-in-out;
  .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    .header__logo-wrapper {
      height: 100%;
      display: flex;
      align-items: center;
      margin-left: -5px;
    }
    .header__nav {
      ul {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 80px;
        margin-right: -15px;
        li {
          a:link,
          a:visited,
          a:hover,
          a:active {
            font-family: "Bw Modelica SS01", sans-serif;
            font-size: 16px;
            color: $link-white;
            line-height: 1.5em;
            transition: 0.3s ease;
          }
          a:hover {
            color: $accent-blue;
          }
        }
      }
    }

    .mobile-menu {
      display: none;
      .mobile-menu--toggle {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
      }
      .bar {
        width: 30px;
        height: 3px;
        background-color: $primary-white;
        margin: 5px 0;
        transition: 0.4s;
      }
    }
  }
}

.mobile-menu--open {
  .bar:nth-child(1) {
    transform: rotate(45deg) translate(7.5px, 11px);
  }
  .bar:nth-child(2) {
    opacity: 0;
  }
  .bar:nth-child(3) {
    transform: rotate(-45deg) translate(7.5px, -11px);
  }
}

.header--sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

@include breakpoint(xxl) {
  .header {
    .container {
      .header__logo-wrapper {
        margin-left: 0;
      }
      .header__nav {
        ul {
          margin-right: 0px;
          gap: 70px;
        }
      }
    }
  }
}

@include breakpoint(xl) {
  .header {
    .container {
      .header__nav {
        display: none;
      }
      .mobile-menu {
        display: flex;
        align-items: center;
      }
    }
  }
}

@include breakpoint(sm) {
  .header {
    padding: 0 20px;
    .container {
      .header__logo-wrapper {
        height: 100%;
        width: 45%;
      }
    }
  }
}
