.header {
  height: 86px;
  background-color: $primary-blue;
  .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    .header__logo-wrapper {
      height: 100%;
      display: flex;
      align-items: center;
      margin-left: -5px;
    }
    .header__nav {
      ul {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 80px;
        margin-right: -20px;
        li {
          a:link,
          a:visited,
          a:hover,
          a:active {
            font-family: "Bw Modelica SS01", sans-serif;
            font-size: 16px;
            color: $link-white;
            line-height: 1.5em;
          }
        }
      }
    }
  }
}
