.our-approach {
  display: flex;
  align-items: center;
  height: 1136px;
  background: linear-gradient(
    to bottom,
    rgba(232, 240, 253, 1) 47%,
    $primary-blue 47%
  );
  padding-left: 14px;
  .container {
    display: flex;
    flex-direction: column;
    gap: 130px;
    padding: 64px 88px;
    // align-items: center;
    // justify-content: center;
    width: 1320px;
    height: 904px;
    background-color: $primary-white;
    box-shadow: 0 0 32px rgba(8, 0, 133, 0.16);
    .container__upper-section {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .upper-section__img-wrapper {
        width: 340px;
        height: 340px;
        border-radius: 163.84px 163.84px 0 0;
        background: linear-gradient(
          135deg,
          rgba(27, 39, 113, 1),
          rgba(51, 74, 215, 1)
        );
        box-shadow: 0 0 40.96px rgba(67, 83, 255, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .upper-section__content {
        width: 640px;
        padding-top: 10px;
        .content__pretitle {
          font-family: "Bw Modelica SS01";
          font-weight: 600;
          font-size: 16px;
          color: $text-blue;
          line-height: 2em;
          margin-bottom: 6px;
        }
        .content__title {
          font-family: "Blacker Display";
          font-size: 32px;
          color: $text-blue;
          line-height: 1.375em;
          margin-bottom: 26px;
        }
        .content__text {
          font-family: "Bw Modelica SS01";
          font-weight: 500;
          font-size: 16px;
          color: $text-blue;
          line-height: 1.5em;
        }
      }
    }
    .container__lower-section {
      display: flex;
      justify-content: space-between;
      background: linear-gradient(
        135deg,
        rgba(27, 39, 113, 1),
        rgba(51, 74, 215, 1)
      );
      width: 100%;
      height: 308px;
      padding: 32px 48px;
      .lower-section__content {
        width: 564px;
        padding-top: 26px;
        padding-left: 2px;
        .content__title {
          font-family: "Blacker Display";
          font-size: 32px;
          color: $text-blue;
          line-height: 1.375em;
          color: $primary-white;
          margin-bottom: 26px;
        }
        .content__text {
          font-family: "Bw Modelica SS01";
          font-weight: 500;
          font-size: 16px;
          color: $primary-white;
          line-height: 1.5em;
        }
      }
      .lower-section__img-wrapper {
      }
    }
  }
}
