@import url("https://fonts.cdnfonts.com/css/bw-modelica-ss01?styles=26393,26391,26383");
@import url("https://fonts.cdnfonts.com/css/blacker-display?styles=46883");
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.button,
.button:hover,
.button:focus,
.button:active {
  font-family: "Bw Modelica SS01", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  line-height: 1.25em;
  background-color: #4353ff;
  border-radius: 32px;
  border: 1px solid rgba(8, 0, 133, 0);
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  color: #4353ff;
  background-color: #fff;
  border: 1px solid #4353ff;
}

.header {
  height: 86px;
  background-color: #080185;
  top: -86px;
  transition: top 0.3s ease-in-out;
}
.header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.header .container .header__logo-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -5px;
}
.header .container .header__nav ul {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 80px;
  margin-right: -15px;
}
.header .container .header__nav ul li a:link,
.header .container .header__nav ul li a:visited,
.header .container .header__nav ul li a:hover,
.header .container .header__nav ul li a:active {
  font-family: "Bw Modelica SS01", sans-serif;
  font-size: 16px;
  color: #e8f0fd;
  line-height: 1.5em;
}
.header .container .header__nav ul li a:hover {
  color: #4353ff;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);
  text-shadow: 0, 4px, 4px, rgba(0, 0, 0, 0.25);
}
.header .container .mobile-menu {
  display: none;
}
.header .container .mobile-menu .mobile-menu--toggle {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.header .container .mobile-menu .bar {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: 0.4s;
}

.mobile-menu--open .bar:nth-child(1) {
  transform: rotate(45deg) translate(7.5px, 11px);
}
.mobile-menu--open .bar:nth-child(2) {
  opacity: 0;
}
.mobile-menu--open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(7.5px, -11px);
}

.header--sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

@media (max-width: 1400px) {
  .header .container .header__logo-wrapper {
    margin-left: 0;
  }
  .header .container .header__nav ul {
    margin-right: 0px;
    gap: 70px;
  }
}
@media (max-width: 1200px) {
  .header .container .header__nav {
    display: none;
  }
  .header .container .mobile-menu {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 576px) {
  .header {
    padding: 0 20px;
  }
  .header .container .header__logo-wrapper {
    height: 100%;
    width: 45%;
  }
}
.sidebar {
  position: fixed;
  right: 0;
  top: 86px;
  margin-right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: #080185;
  height: 80%;
  max-width: 60%;
  border-radius: 0 0 0 15%;
}
.sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar ul li {
  margin-bottom: 50px;
  letter-spacing: 0.8px;
}
.sidebar ul li a {
  font-size: 30px;
  font-family: "Bw Modelica SS01", sans-serif;
  color: #e8f0fd;
}
.sidebar ul li a:hover {
  color: #4353ff;
  transform: scale(1.2);
}
.sidebar ul li:last-child {
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .sidebar ul li a {
    font-size: 26px;
  }
}
@media (max-width: 768px) {
  .sidebar {
    height: 70%;
  }
  .sidebar ul li {
    margin-bottom: 40px;
  }
  .sidebar ul li a {
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .sidebar {
    height: 60%;
  }
  .sidebar ul li {
    margin-bottom: 40px;
  }
  .sidebar ul li a {
    font-size: 20px;
  }
}
.hero {
  height: 812px;
  background: linear-gradient(90deg, rgb(8, 0, 133), 80%, rgba(8, 0, 133, 0)), url("../../assets/images/hero.png");
  background-repeat: no-repeat;
  background-position: right;
}
.hero .container {
  height: 100%;
  display: flex;
}
.hero .container .hero__content {
  width: 757px;
  padding-top: 179px;
  margin-left: -5px;
}
.hero .container .hero__content .content__pretitle {
  font-family: "Bw Modelica SS01", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  line-height: 1.6em;
  margin-bottom: 18px;
}
.hero .container .hero__content .content__title {
  font-family: "Blacker Display", sans-serif;
  font-size: 56px;
  color: #fff;
  line-height: 1.1em;
  text-transform: capitalize;
  margin-bottom: 37px;
}
.hero .container .hero__content .content__text {
  font-family: "Bw Modelica SS01", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.8em;
  color: #fff;
  width: 714px;
}
.hero .container .hero__content .content__text--upper {
  margin-bottom: 14px;
}
.hero .container .hero__content .content__text--lower {
  margin-bottom: 34px;
}
.hero .container .hero__content .hero__btn {
  padding: 16px 40px 16px 40px;
  letter-spacing: 0.3px;
}

@media (max-width: 1200px) {
  .hero .container .hero__content {
    width: 100%;
    margin: 0;
  }
  .hero .container .hero__content .content__title {
    font-size: 50px;
  }
  .hero .container .hero__content .content__text {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .hero .container .hero__content {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .hero .container .hero__content {
    padding-top: 120px;
  }
  .hero .container .hero__content .content__pretitle {
    font-size: 18px;
  }
  .hero .container .hero__content .content__title {
    font-size: 46px;
  }
}
@media (max-width: 576px) {
  .hero .container .hero__content {
    padding-top: 100px;
  }
  .hero .container .hero__content .content__title {
    font-size: 40px;
  }
}
.about-us {
  position: relative;
  height: 672px;
  background: linear-gradient(to bottom, #fef4f2, #e8f0fd);
  padding-top: 77px;
  padding-left: 41px;
}
.about-us .container {
  height: 518.4px;
  display: flex;
  justify-content: space-between;
}
.about-us .container .about-us__card {
  width: 760.32px;
  height: 518.4px;
  background-color: #fff;
  z-index: 2;
  padding: 74px 0 0 60px;
  box-shadow: 0 0 32px rgba(8, 0, 133, 0.16);
  margin-left: -84px;
}
.about-us .container .about-us__card .card__content {
  width: 640px;
}
.about-us .container .about-us__card .card__content .content__pretitle {
  font-family: "Bw Modelica SS01";
  font-weight: 600;
  font-size: 16px;
  color: #151f5a;
  line-height: 1.5em;
  margin-bottom: 16px;
}
.about-us .container .about-us__card .card__content .content__title {
  font-family: "Blacker Display";
  font-size: 32px;
  color: #151f5a;
  line-height: 1.375em;
  margin-bottom: 30px;
}
.about-us .container .about-us__card .card__content .content__text {
  font-family: "Bw Modelica SS01";
  font-weight: 500;
  font-size: 16px;
  color: #151f5a;
  line-height: 1.5em;
}
.about-us .container .about-us__img-wrapper {
  align-self: center;
  width: 340.06px;
  height: 340.06px;
  border-radius: 163.95px 163.95px 0 0;
  background: linear-gradient(135deg, rgb(27, 39, 113), rgb(51, 74, 215));
  box-shadow: 0 0 40.99px rgba(67, 83, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us .container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: inline-block;
  width: 640px;
  height: 672px;
  background-color: #151f5a;
}

.our-approach {
  display: flex;
  align-items: center;
  height: 1136px;
  background: linear-gradient(to bottom, rgb(232, 240, 253) 47%, #080185 47%);
  padding-left: 14px;
}
.our-approach .container {
  display: flex;
  flex-direction: column;
  gap: 130px;
  padding: 64px 88px;
  width: 1320px;
  height: 904px;
  background-color: #fff;
  box-shadow: 0 0 32px rgba(8, 0, 133, 0.16);
}
.our-approach .container .container__upper-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.our-approach .container .container__upper-section .upper-section__img-wrapper {
  width: 340px;
  height: 340px;
  border-radius: 163.84px 163.84px 0 0;
  background: linear-gradient(135deg, rgb(27, 39, 113), rgb(51, 74, 215));
  box-shadow: 0 0 40.96px rgba(67, 83, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.our-approach .container .container__upper-section .upper-section__content {
  width: 640px;
  padding-top: 10px;
}
.our-approach .container .container__upper-section .upper-section__content .content__pretitle {
  font-family: "Bw Modelica SS01";
  font-weight: 600;
  font-size: 16px;
  color: #151f5a;
  line-height: 2em;
  margin-bottom: 6px;
}
.our-approach .container .container__upper-section .upper-section__content .content__title {
  font-family: "Blacker Display";
  font-size: 32px;
  color: #151f5a;
  line-height: 1.375em;
  margin-bottom: 26px;
}
.our-approach .container .container__upper-section .upper-section__content .content__text {
  font-family: "Bw Modelica SS01";
  font-weight: 500;
  font-size: 16px;
  color: #151f5a;
  line-height: 1.5em;
}
.our-approach .container .container__lower-section {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(135deg, rgb(27, 39, 113), rgb(51, 74, 215));
  width: 100%;
  height: 308px;
  padding: 32px 48px;
}
.our-approach .container .container__lower-section .lower-section__content {
  width: 564px;
  padding-top: 26px;
  padding-left: 2px;
}
.our-approach .container .container__lower-section .lower-section__content .content__title {
  font-family: "Blacker Display";
  font-size: 32px;
  color: #151f5a;
  line-height: 1.375em;
  color: #fff;
  margin-bottom: 26px;
}
.our-approach .container .container__lower-section .lower-section__content .content__text {
  font-family: "Bw Modelica SS01";
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  line-height: 1.5em;
}
.team {
  background-color: #080185;
  height: 744px;
  padding-top: 129px;
  margin-left: -9px;
}
.team .container .container__content {
  width: 688px;
}
.team .container .container__content .content__pretitle {
  font-family: "Bw Modelica SS01", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 2em;
  color: #fff;
  margin-bottom: 9px;
}
.team .container .container__content .content__title {
  font-family: "Blacker Display", sans-serif;
  font-size: 48px;
  line-height: 1.33em;
  color: #fff;
  margin-bottom: 55px;
}
.team .container .container__content .content__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 64px;
  grid-row-gap: 24px;
}
.team .container .container__content .content__cards .cards__card {
  width: 312px;
}
.team .container .container__content .content__cards .cards__card .card__name {
  font-family: "Bw Modelica SS01", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33em;
  color: #fff;
  margin-bottom: 8px;
}
.team .container .container__content .content__cards .cards__card .card__job-title {
  font-family: "Bw Modelica SS01", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5em;
  color: #fff;
  margin-bottom: 16px;
}
.team .container .container__content .content__cards .cards__card .card__text {
  font-family: "Bw Modelica SS01", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  color: #fff;
}/*# sourceMappingURL=index.css.map */